FASTAPI_DDD_TEMPLATE_ENV=prod
FASTAPI_DDD_TEMPLATE_DEBUG=false
FASTAPI_DDD_TEMPLATE_LOG_DIR=./logs
FASTAPI_DDD_TEMPLATE_JWT_ALGORITHM=HS256
FASTAPI_DDD_TEMPLATE_JWT_TOKEN_EXPIRY_TIME=30
FASTAPI_DDD_TEMPLATE_UVICORN_HOST=localhost
FASTAPI_DDD_TEMPLATE_UVICORN_PORT=8000
FASTAPI_DDD_TEMPLATE_POSTGRES_DRIVER=postgresql+asyncpg

FASTAPI_DDD_TEMPLATE_POSTGRES_USER=prod_db_user
FASTAPI_DDD_TEMPLATE_POSTGRES_DB=fastapi_ddd_template_prod_db
FASTAPI_DDD_TEMPLATE_POSTGRES_HOST=db

FASTAPI_DDD_TEMPLATE_APP_BOOTSTRAP_ADMIN=True
FASTAPI_DDD_TEMPLATE_APP_ADMIN=admin

POSTGRES_ADMIN=postgres
